<div class="container-big-card">
    <div class="big-card-image">
        <img 
        src="https://redthread.uoregon.edu/files/large/affd16fd5264cab9197da4cd1a996f820e601ee4.jpg" 
        alt=""
        height="200px"
        width="400px"
        srcset=""
        >
    </div>
    <div class="big-card-title">
        <h1>Nova versão do Angular</h1>
    </div>
    <div class="big-card-description">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Explicabo aliquid ullam veritatis nostrum suscipit debitis dolore quam corrupti, praesentium, eum non distinctio maiores maxime doloremque omnis odio deleniti eius veniam.
        </p>
    </div>
</div>
