<div class="container-big-card">
    <div class="big-card-image">
        <img 
        src="https://acdn.mitiendanube.com/stores/001/776/325/products/papel-de-parede-non-woven-homem-aranha-cimento-queimado1-99c6ec90dd6f70248416777669679705-1024-1024.webp" 
        alt=""
        height="200px"
        srcset=""
        >
    </div>
    <div class="big-card-title">
        <h1><a href="#">Nova versão do Angular</a></h1>
    </div>
    <div class="big-card-description">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Explicabo aliquid ullam veritatis nostrum suscipit debitis dolore quam corrupti, praesentium, eum non distinctio maiores maxime doloremque omnis odio deleniti eius veniam.
        </p>
    </div>
</div>
