<div class="container-big-card">
    <div class="big-car-image">
        <img 
        src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" 
        alt=""
        height="200px"
        width="300px"
        srcset=""
        >
    </div>
    <div class="big-car-title">
        <h1>Nova versão do Angular</h1>
    </div>
    <div class="big-card-description">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Explicabo aliquid ullam veritatis nostrum suscipit debitis dolore quam corrupti, praesentium, eum non distinctio maiores maxime doloremque omnis odio deleniti eius veniam.
        </p>
    </div>
</div>
