
<app-menu-title></app-menu-title>
<div class="container-article">
    <div class="article-main">
        <app-big-card photoCover="https://cdn.pixabay.com/photo/2024/09/05/08/52/watzmann-9024268_1280.jpg"
        cardTitle="PAISAGENS MARAVILHOSAS"
        cardDescription="A paisagem se revela em um vasto vale, onde colinas verdes se encontram sob um céu azul intenso. Um rio serpenteia suavemente, refletindo o brilho do sol, enquanto árvores frondosas dançam ao vento. Flores silvestres coloridas salpicam o chão, trazendo vida e perfume ao ar. Ao fundo, montanhas majestosas se erguem, com picos cobertos de neve que reluzem como diamantes. A tranquilidade do cenário convida à contemplação e à conexão com a natureza."
        ></app-big-card>
    </div>
    <div class="articles">
        <app-small-card photCover="https://cdn.pixabay.com/photo/2024/09/05/09/00/watzmann-9024287_1280.jpg"
        cardTitle="PARAÍSO NAS MONTANHAS"
        ></app-small-card>
        <app-small-card photCover="https://cdn.pixabay.com/photo/2019/11/01/13/12/deutschland-4594133_1280.jpg"
        cardTitle="CIDADE NA ALEMANHA"
        ></app-small-card>
        <app-small-card photCover="https://cdn.pixabay.com/photo/2024/04/18/09/23/cherry-blossom-8703882_1280.jpg"
        cardTitle="FLOR DE CEREJEIRA"
        ></app-small-card>
    </div>
</div>