<div class="container-creditos">
    <h1>CRÉDITO DAS FOTOS UTILIZADAS NESTE PROJETO</h1>
    <p><a href="https://pixabay.com/pt/photos/watzmann-berchtesgaden-cordilheira-9024268/">Foto Notícia Principal</a></p>
    <p><a href="https://pixabay.com/pt/photos/watzmann-berchtesgaden-montanha-9024287/">Foto notícia 1</a></p>
    <p><a href="https://pixabay.com/pt/photos/alemanha-berchtesgaden-watzmann-4594133/">Foto notícia 2</a></p>
    <p><a href="https://pixabay.com/pt/photos/flor-de-cerejeira-primavera-sakura-8703882/">Foto notícia 3</a></p>
</div>
